*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

label, input{
    display: block;
}

label{
    color: green;
}

input{
    width: 100%;
}

.submit{
    margin: 15px auto 0 auto;
    width: 40%;
    background-color: rgb(184, 159, 206);
    padding: 5px;
    border-radius: 5px;
}

form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 15px;
}